<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Terminal Game IO</title>
  <style>
    .mobile-device-buttons {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .mobile-device-buttons button {
      position: fixed;
      display: block;
      width: 33%;
      height: 50%;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
    }
    .mobile-device-buttons button:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onLoad="run()">
  <pre id="root"></pre>

  <div class="mobile-device-buttons">
    <button onClick="handleClick(event, 'ArrowDown')" style="top: 50%; left: 33%;"></button>
    <button onClick="handleClick(event, 'ArrowUp')" style="top: 0; left: 33%;"></button>
    <button onClick="handleClick(event, 'ArrowLeft')" style="top: 50%; left: 0;"></button>
    <button onClick="handleClick(event, 'ArrowRight')" style="top: 50%; left: 66%;"></button>
  </div>

  <script>
    var FPS = 5;
    var BOARD_WIDTH = 40;
    var BOARD_HEIGHT = 12;

    var terminalGameIo;
    var lastKeyName = '';
    var posX = Math.round(BOARD_WIDTH / 2);
    var posY = Math.round(BOARD_HEIGHT / 2);
    var frameNumber = 0;

    function frameHandler(instance) {
      var frameData = '';
      var lines = [];

      for (var y = 0; y < BOARD_HEIGHT; y++) {
        for (var x = 0; x < BOARD_WIDTH; x++) {
          frameData += (posX === x && posY === y) ? '@' : '.';
        }
      }

      lines.push(
        'Frame: ' + (frameNumber++),
        'Time: ' + instance.getTime().toFixed(3) + 's',
        'Last key name: ' + lastKeyName,
        '',
        'Use arrows to move.',
        'Press Escape to exit...'
      );
      for (var i = 0; i < lines.length; i++) {
        frameData = addLine(frameData, lines[i], BOARD_WIDTH);
      }

      instance.drawFrame(frameData, BOARD_WIDTH, BOARD_HEIGHT + lines.length);
    }

    function addLine(frameData, line, lineWidth) {
      return line.length > lineWidth
        ? frameData + line.substr(0, lineWidth)
        : frameData + line + (new Array(lineWidth - line.length + 1).join(' '));
    }

    function keypressHandler(instance, keyName) {
      lastKeyName = keyName;

      frameHandler(instance);

      switch (keyName) {
        case 'ArrowDown':
          posY = (posY + 1) % BOARD_HEIGHT;
          break;
        case 'ArrowUp':
          posY = posY === 0 ? BOARD_HEIGHT - 1 : posY - 1;
          break;
        case 'ArrowLeft':
          posX = posX === 0 ? BOARD_WIDTH - 1 : posX - 1;
          break;
        case 'ArrowRight':
          posX = (posX + 1) % BOARD_WIDTH;
          break;
        case 'Escape':
          instance.exit();
          break;
      }
    }

    function handleClick(event, keyName) {
      if (!terminalGameIo) {
        return;
      }

      event.preventDefault();
      terminalGameIo.triggerKeypress(keyName);
    }

    function run() {
      terminalGameIo = TerminalGameIo.createTerminalGameIo({
        // domElementId: 'my-custom-id',     // default: 'root'
        fps: FPS,
        frameHandler: frameHandler,
        keypressHandler: keypressHandler
      });
    }
  </script>
  <!-- you can access distribution version via: <script src="https://unpkg.com/terminal-game-io"></script> -->
</body>
</html>
